html, body, article, header, nav, h1, h2, h3, h4, h5, h6, p, ul, ol, img {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	background: white;
	color: black;
	max-width: 40em;
}

article, header, nav, img {
	display: block;
}

html, body {
	max-width: none;
}

html {
	font-size:  1.1em;
	-webkit-text-size-adjust: 100%;
	overflow-y: scroll;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

body {
	padding: .5em 1.25em 6em;
	font-size: 1em;
	line-height: 1.2;
}

header {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2.4em;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	color: #39f;
	max-width: 16em;
}

h2 {
	text-transform: uppercase;
	margin-top: 1.8em;
	margin-bottom: 0.6em;
	color: #666;
	clear: both;
}

img.hero {
	width: 100%;
	height: auto;
	margin: 1em auto;
}

img.screenshot.light {
	box-shadow: 0em 0.15em 0.25em #ccc
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #39f;
}

ul, ol {
	margin: .6em auto;
	padding-left: 1.5em;
	list-style-position: outside;
	max-width: 38.5em;
}

ul {
	list-style-type: square;
}

ul.screenshots {
	display: block;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	max-width: 40em;
}

ul.screenshots li {
	display: block;
	width: 31%;
	margin: 0.6em 0 1.8em;
	padding: 0;
	float: left;
}

ul.screenshots li+li {
	margin-left: 3.5%;
}

ul.screenshots img {
	display: block;
	margin: 0;
	width: 100%;
	height: auto;
}

article {
	height: 315px;
	width: 100%;
	background-color: #999;
	margin-bottom: .5em;
}

article h3 {
	background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,0));
	padding: 1em;
	
	color: white;
	font-weight: normal;
	text-shadow: 0 .1em 0 black;
}

nav {
	margin-bottom: 1em;
}

nav a {
	font-weight: normal;
}

p+p {
	margin-top: 1em;
}

code {
	font-family: Consolas, Inconsolata, Menlo, monospace;
	line-height: 0.9em;
}

.context {
	color: #999;
	font-weight: normal;
}